.popup__input {
  width: 100%;
  margin: 0;
  padding-top: 35px;
  display: block;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  opacity: .8;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}