.profile__button-add {
  grid-area: add;
  width: 150px;
  height: 50px;
  background: none;
  background-image: url(../../../images/button-add.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  border-radius: 2px;
  background-size: 22px 22px;
  justify-self: end;
  align-self: center;
}

.profile__button-add:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__button-add {
    width: 50px;
    justify-self: center;
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .profile__button-add {
    width: 282px;
    height: 50px;
    justify-self: center;
    margin: -2px;
  }
}