.profile__avatar{
  grid-area: avatar;
  max-width: 120px;
  justify-self: start;
  align-self: center;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .profile__avatar  {
    width: 100%;
    justify-self: center;
  }
}