.profile__job {
  max-width: 100%;
  margin: 0;
  padding: 5px 0 36px 0;
  grid-area: job;
  justify-self: start;
  align-self: start;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .profile__job  {
    justify-self: center;
  }
}

@media screen and (max-width: 420px) {
  .profile__job  {
    font-size: 14px;
    padding: 0;
    margin: -5px 0 26px;
  }
}